.ssn__unit-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    color: var(--text-color);
    position: relative;
    font-size: 2.25rem;
    cursor: pointer;
}

.ssn__unit-cards-count-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
}

.ssn__unit-header-title {
    font-weight: bold;
    font-size: inherit;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.2em;
    width: 100%;
}

.ssn__unit-header-block, .ssn__unit-header-double-block {
    height: 2.6em;
    margin: auto 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-shrink: 0!important;
}

.ssn__unit-complete .ssn__unit-icon,
.ssn__unit-complete .ssn__unit-header-progress,
.ssn__unit-complete .ssn__unit-header-title {
    color: var(--fill-color)!important;
}

.ssn__unit-icon svg {
    height: 1.4em;
    width: 1.4em;
    display: block;
    margin: auto;
}

.ssn__unit-header-progress {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ssn__unit-header-progress > * {
    font-size: 0.5em;
    font-weight: 500;
}

.ssn__unit-complete .ssn__unit-header-progress > * {
    font-weight: 700;
}

.ssn__unit-expand-button {
    cursor: pointer;
    color: #54595F;
    display: block;
    margin: auto;
    transition: transform linear 0.2s, color linear 0.1s;
    transform-origin: center;
    transform: rotate(0deg);
}

.ssn__unit-expand-button:hover {
    transition: transform linear 0.2s, color linear 0s;
    color: #818a91;
}

.ssn__unit-expand-button-expanded {
    transform: rotate(90deg);
    transition: transform linear 0.2s, color linear 0.1s;
    transform-origin: center;
}

@media all and (min-aspect-ratio: 11/9) {
    .ssn__unit-header {
        padding: 2.5rem;
        flex-direction: row;
    }

    .ssn__unit-header-title {
        max-width: 45rem;
    }

    .ssn__unit-header-block {
        width: 2.6em;
    }

    .ssn__unit-header-double-block {
        width: 5.2em;
    }

    .ssn__unit-header-progress {
        text-align: left;
    }
}

@media all and (max-aspect-ratio: 11/9) {
    .ssn__unit-header {
        padding: 0.5rem;
        flex-direction: column;
    }

    .ssn__unit-cards-count-wrapper > * {
        text-align: center;
        width: unset!important;
    }

    .ssn__unit-header-progress{
        height: unset!important;
        margin-left: 0.5rem!important;
    }

    .ssn__unit-header > * {
        margin: 0 auto!important;
    }

    .ssn__unit-header-title {
        font-size: 0.7em;
    }

    .ssn__unit-header-block {
        width: 2em;
    }

    .ssn__unit-header-double-block {
        width: 4em;
    }
}