.ssn__progress-bar {
    position: relative;
    overflow: visible;
    box-sizing: content-box;
    width: 100%;
    margin: 0 auto;
}

.ssn__progress-bar-wrapper {
    padding: 0 1.5rem;
    margin: 0 auto;
    width: calc(100% - 3rem);
}

.ssn__progress-bar-display {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.ssn__progress-bar-display > * {
    height: 1.4rem;
    display: block;
    flex-grow: 1;
    background-color: var(--bg-color);
    position: relative;
    overflow: hidden;
}

.ssn__progress-bar-display > * > * {
    position: absolute;
    background-color: var(--bg-fill-color);
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
}

.ssn__progress-bar-display > *:first-child {
    border-radius: 0.7rem 0 0 0.7rem;
}

.ssn__progress-bar-display > *:last-child {
    border-radius: 0 0.7rem 0.7rem 0;
}

.ssn__progress-bar-display > *:not(:first-child) {
    margin: 0 0 0 0.3rem;
}

.ssn__progress-bar-icon {
    height: 3.6rem!important;
    width: auto;
    position: absolute;
    top: 50%;
    left: 0;
    transform-origin: center;
    transform: translate(-50%, -50%);
    transition: ease-out 0.5s;
}

@media all and (min-aspect-ratio: 11/9) {
    .ssn__progress-bar {
        max-width: 50rem;
    }
}