.ssn__unit-content.ssn__unit-content-hidden .ssn__unit-card-preview:not(.ssn__unit-card-preview-opened) {
    bottom: 8em;
    opacity: 0;

    transition:
        opacity linear 0s 0.6s,
        bottom linear 0s 0.6s;
}

.ssn__unit-cards-preview {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 80rem;
    padding: 1rem 0 1rem 3.5rem;
    margin: 0 auto;
    left: 0;
    font-size: var(--ref-size);
}

.ssn__unit-card-preview, .ssn__unit-card-view {
    box-sizing: content-box;
    border-style: solid;
    box-shadow: 0 0 0.6rem #323232;
    height: 25rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 0.8em;
}

.ssn__unit-card-preview:not(.ssn__unit-card-preview-opened),
.ssn__unit-card-view {
    width: 19rem;
    border-width: 0.6em;
    opacity: 0.8;
}

.ssn__unit-card-preview:not(.ssn__unit-card-preview-opened) {
    margin: 0 3.5em 3.5em 0;
}

.ssn__unit-card-preview.ssn__unit-card-preview-opened {
    transition:
            opacity linear 0.2s,
            bottom linear 0.6s,
            border-left-width linear 0.2s 0.6s,
            border-right-width linear 0.2s 0.6s,
            border-top-width linear 0.2s 0.6s,
            border-bottom-width linear 0.2s 0.6s,
            margin-bottom linear 0.2s 0.6s,
            margin-right linear 0.2s 0.6s,
            height linear 0.1s 0.6s,
            width linear 0.2s 0.6s!important;

    width: 0;
    height: 0;
    border-width: 0;
    opacity: 0!important;
    margin: 0;
    bottom: 25em;
}

.ssn__unit-card-preview.ssn__unit-card-preview-unlocked .ssn__card-placeholder,
.ssn__unit-card-preview:not(.ssn__unit-card-preview-unlocked) .ssn__card-illustration,
.ssn__unit-card-preview:not(.ssn__unit-card-preview-unlocked) .ssn__card-preview-title,
.ssn__unit-card-view .ssn__card-placeholder,
.ssn__unlock-all .ssn__card-placeholder {
    display: none;
}


.ssn__unlock-all .ssn__unit-card-preview:not(.ssn__unit-card-preview-unlocked) .ssn__card-illustration,
.ssn__unlock-all .ssn__unit-card-preview:not(.ssn__unit-card-preview-unlocked) .ssn__card-preview-title {
    display: block!important;
}

.ssn__card-illustration, .ssn__card-placeholder {
    display: block;
    max-width: 100%!important;
    max-height: 100%!important;
    position: absolute;
    left: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%);

}

.ssn__card-illustration {
    top: calc(50% - 2.3rem);
}

.ssn__card-placeholder {
    top: 50%;
}

.ssn__card-preview-title {
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    line-height: 1.3em;
    height: 4.6em;
    position: absolute;
    left: 0;
    bottom: 0.3em;
    width: 100%;
    padding: 0.3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ssn__unit-card-preview:hover {
    opacity: 1;
    transition: linear 0s;
}

.ssn__unit-card-preview:not(.ssn__unit-card-preview-unlocked),
.ssn__unit-card-view:not(.ssn__unit-card-preview-unlocked) {
    background-color: var(--card-color);
    border-color: #ffffff;
}

.ssn__unit-card-preview-unlocked,
.ssn__unlock-all .ssn__unit-card-preview {
    background-color: #ffffff!important;
    border-color: var(--card-color)!important;
}