.ssn__unit-wrapper .ssn__unit-content:not(
    .ssn__unit-content-hidden
) .ssn__unit-card-preview:not(
    .ssn__unit-card-preview-opened
):not(.ssn__unit-card-post-expanded) {
    bottom: 0;
    cursor: default!important;
    pointer-events: none;

    transition:
            opacity linear 0.3s calc(0.3s + (var(--ssn-card-animation-delay) * 0.2)),
            bottom linear 0.6s calc(0.3s + (var(--ssn-card-animation-delay) * 0.2));
}

.ssn__unit-wrapper .ssn__unit-content:not(
    .ssn__unit-content-hidden
) .ssn__unit-card-preview:not(
    .ssn__unit-card-preview-opened
).ssn__unit-card-post-expanded {
    bottom: 0;

    transition: linear 0.1s;
}