.ssn__counter {
    display: flex;
    font-size: var(--theme-label-font-size);
}

.ssn__counter:not(.ssn__counter-inline) {
    flex-direction: column;
}

.ssn__counter-inline {
    flex-direction: row;
    justify-content: center;
}

.ssn__counter-icon-wrapper[data-show-circular="no"] .ssn__circular-counter,
.ssn__counter-icon-wrapper[data-show-icon="no"] .ssn__counter-icon {
    display: none!important;
}

.ssn__counter-icon-wrapper {
    display: block;
    position: relative;
}

.ssn__circular-counter svg {
    margin: auto;
    display: block;
    width: var(--theme-wheel-size)!important;
    height: var(--theme-wheel-size)!important;
}

.ssn__counter:not(.ssn__counter-inline) .ssn__counter-icon-wrapper[data-show-circular="yes"] .ssn__circular-counter,
.ssn__counter:not(.ssn__counter-inline) .ssn__counter-icon-wrapper[data-show-circular="no"] .ssn__counter-icon {
    margin: 0 0 var(--theme-icon-spacing) 0!important;
}

.ssn__counter-inline .ssn__counter-icon-wrapper[data-show-circular="yes"] .ssn__circular-counter,
.ssn__counter-inline .ssn__counter-icon-wrapper[data-show-circular="no"] .ssn__counter-icon {
    margin: 0 var(--theme-icon-spacing) 0 0!important;
}

.ssn__counter-icon-wrapper[data-show-circular="yes"] .ssn__counter-icon {
    position: absolute;
    z-index: 99;
    transform-origin: center;
    transform: translate(-50%, -50%);
}

.ssn__counter:not(.ssn__counter-inline) .ssn__counter-icon-wrapper[data-show-circular="yes"] .ssn__counter-icon {
    top: calc(50% - ( 0.5 * var(--theme-icon-spacing) ));
    left: 50%;
}

.ssn__counter-inline .ssn__counter-icon-wrapper[data-show-circular="yes"] .ssn__counter-icon {
    left: calc(50% - ( 0.5 * var(--theme-icon-spacing) ));
    top: 50%;
}

.ssn__counter-icon img {
    width: var(--theme-icon-size);
    height: auto;
    margin: auto;
    display: block;
}

.ssn__counter-content {
    text-align: center;
    font-weight: var(--theme-label-weight);
    padding: 0.1em;
}

.ssn__counter:not(.ssn__counter-complete) .ssn__counter-content {
    color: var(--theme-color);
}

.ssn__counter.ssn__counter-complete .ssn__counter-content {
    color: var(--theme-color-completed);
}

.ssn__counter:not(.ssn__counter-inline) .ssn__counter-content {
    margin: 0 auto;
}

.ssn__counter-inline .ssn__counter-content {
    margin: auto 0;
}

.ssn__counter-total:before {
    content: '/ ';
    white-space: pre;
}
