.ssn__unit-elements {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
}

.ssn__unit-element {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.ssn__unit-content:not(.ssn__unit-content-hidden) .ssn__unit-element:not(.ssn__unit-element-opened),
.ssn__unit-content.ssn__unit-content-hidden .ssn__unit-element {
    display: none!important;
}

/* Animate padding and opacity on reveal. It can reveal both because it is individually hidden (not opened),
 or because the whole content section is hidden. */
.ssn__unit-content:not(.ssn__unit-content-hidden) .ssn__unit-element-opened {
    padding: var(--card-spacing) var(--card-spacing) 0 var(--card-spacing);
    opacity: 1;
    transition:
            opacity linear 0.3s,
            padding-bottom linear 0.2s 0.6s,
            padding-top linear 0.2s 0.6s,
            padding-right linear 0s,
            padding-left linear 0s!important;
}

.ssn__unit-element-hidden,
.ssn__unit-content-hidden .ssn__unit-element {
    padding: 0;

    transition:
            opacity linear 0.3s,
            padding-bottom linear 0.2s 0.6s,
            padding-top linear 0.2s 0.6s,
            padding-right linear 0.2s 0.6s,
            padding-left linear 0.2s 0.6s!important;
}

.ssn__unit-element-hidden {
    opacity: 0;
}

.ssn__unit-element .ssn__unit-card-view {
    flex-shrink: 0!important;
}

.ssn__unit-data {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.ssn__unit-title {
    font-weight: 500;
    color: var(--text-color);
    position: relative;
    top: 0;
    text-align: left;
    margin: 0 0 0.3em 0;
}

.ssn__unit-lessons {
    color: var(--text-color);
    position: relative;
    top: 0;
    overflow: visible;
    font-weight: unset;
}

.ssn__unit-lessons *[data-elementor-type="footer"],
.ssn__unit-lessons *[data-elementor-type="header"] {
    display: none!important;
}

.ssn__unit-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    top: 0;
}

.ssn__unit-tag {
    background-color: currentColor;
    padding: 0 0.8em;
    border-radius: 2em;
}

.ssn__unit-tag > span {
    color: #ffffff;
}

.ssn__unit-loader {
    width: 100%;
    display: block;
    padding: 1rem;
}

.ssn__unit-loader > svg {
    margin: auto;
    height: 3rem!important;
    width: 3rem!important;
    display: block;
}

@media all and (min-aspect-ratio: 11/9) {
    .ssn__unit-element {
        max-width: 60rem;
    }

    .ssn__unit-element:last-of-type {
        margin: 0 auto;
    }

    .ssn__unit-element:not(:last-of-type) {
        margin: 0 auto 3rem auto;
    }

    /* Alternate one row over 2 by switching orientation. */
    .ssn__unit-element:not(.ssn__unit-element-odd) {
        flex-direction: row;
    }

    .ssn__unit-element.ssn__unit-element-odd {
        flex-direction: row-reverse;
    }

    .ssn__unit-element:not(.ssn__unit-element-odd) .ssn__unit-card-view {
        margin: 0 3rem 0 0;
    }

    .ssn__unit-element.ssn__unit-element-odd .ssn__unit-card-view {
        margin: 0 0 0 3rem;
    }

    .ssn__unit-data {
        margin: 0;
    }

    .ssn__unit-title {
        font-size: 1.55em;
    }
}

@media all and (max-aspect-ratio: 11/9) {
    .ssn__unit-element {
        width: 100%;
        flex-direction: column;
    }

    .ssn__unit-element .ssn__unit-card-view {
        margin: 0 auto!important;
    }

    .ssn__unit-data {
        width: 100%;
        box-sizing: border-box;
        padding: 0.8rem;
    }

    .ssn__unit-title {
        font-size: 1.2em;
        text-align: center;
    }

    .ssn__unit-lessons {
        font-size: 1rem;
    }
}