.ssn_unit-content {
    flex-direction: column;
    transform-origin: top;
}

.ssn__unit-content:not(.ssn__unit-content-hidden) {
    opacity: 1;
    transition: opacity linear 0.6s 0s!important;
}

.ssn__unit-content.ssn__unit-content-hidden {
    opacity: 0;
    overflow: hidden!important;
    transition: opacity linear 0.6s 0s!important;
}

.ssn__unit-content .ssn__unit-card-view {
    position: relative;
    top: 0;
}