.ssn__tag-list {
    display: flex;
    flex-direction: column;
    padding: 1rem 0 0 0;
    margin: 0 auto;
}

.ssn__tag-element {
    width: 100%;
    margin: 0 0 1rem 0;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.5);
    cursor: pointer;
}

.ssn__tag-element-head {
    padding: 2.2rem 3.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    color: #54595F;
    font-weight: bold;
}

.ssn__tag-element-head > * {
    flex-shrink: 0!important;
}

.ssn__tag-expand-button {
    cursor: pointer;
    display: block;
    margin: auto;
    transition: transform linear 0.2s, color linear 0.1s;
    transform-origin: center;
    transform: rotate(0deg);
}

.ssn__unit-expand-button-expanded {
    transform: rotate(90deg);
    transition: transform linear 0.2s, color linear 0.1s;
    transform-origin: center;
}

.ssn__tag-element-expanded .ssn__tag-element-head {
    color: var(--active-color);
}

.ssn__tag-content {
    width: 100%;
    overflow: hidden;
    height: 0;
}

.ssn__tag-element-expanded .ssn__tag-content {
    padding: 0 2rem 2rem 2rem;
}

.ssn__tag-content *[data-elementor-type="footer"],
.ssn__tag-content *[data-elementor-type="header"] {
    display: none!important;
}